extends ../layouts/default

block content
  a(href="example/new", class="btn btn-success") Crear #{title}
  hr

  legend Lista de #{title}
  table(class="table table-hover")
    thead
      tr
        th ID
        th Title
        th Body
    tbody
      - for (var i=0; i<result.length; i++)
          tr
            td 
              a(href="example/#{result[i]._id}") #{result[i]._id}
            td #{result[i].title}
            td #{result[i].body}